= image_tag user.avatar, class: "img-middle border-radius"
= render partial: "relationships/relationship", locals: {:"@user" => user, :"@following" => find_relationship(user)}
br
| #{user.full_name}
| #{user.account_id}
