p#notice
  = notice

h3 #{@event.title}
- if @participant
  = link_to "参加をやめる",event_participant_path(@event, @participant), method: "delete"
- else
  = link_to "参加", event_participants_path(@event), method: "post"
p 企画者
p #{@event.user.first_name}
p #{@event.participants.count}/#{@event.fixed_number}
= render "favorites/favorite"
p スポーツ #{@event.sport}
p 場所 #{@event.location}
p #{simple_format(@event.information)}
= render partial: "tags/theme_list", collection: @event.theme_list
br
| 参加者一覧
br
| comment(#{@event.comments.count})
= render partial: "comments/comment", collection: @event.comments
- if user_signed_in?
  = form_for [@event, @comment] do |f|
    = f.text_area :text
    = f.submit "SEND"
= link_to 'Edit', edit_event_path(@event)
|  | 
= link_to 'Back', events_path
