body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.navbar{
  height: 60px;
  margin: 0;
  width :100%;
  border-radius: 0;
  background-color: #fff;
}

.navbar-nav{
  list-style: none;

  .navbar-content-text{
    line-height: 60px;
  }
  li{
    .dropdown-menu-position{
      margin-top: 8px;
    }
  }
}

.dropdown-toggle{
  margin: 10px 0 0 20px;
}

.dropdown-menu{
  li{
    height: 36px;
  }
}
