.jumbotron{
  background: image-url("futsal.JPG") no-repeat center;
  height: 550px;

  .top-image-text{
    position: relative;
    top: 300px;
    text-align: center;
  }
}

.event_card_list{
  .event_card{
    padding: 0 15px;
    position: static;
  }
  .thumbnail{
    background-color: #FFFFFF;
    padding: 15px 0 0 15px;

    .event-card-user-img{
      float: left;
      height: 30px;
      width: 30px;
    }
  }
}

.event-card-title{
  padding: 5px;
  float: left;
}
