.jumbotron{
  background: image-url("futsal.JPG") no-repeat center;
  height: 550px;

  .top-image-text{
    position: relative;
    top: 300px;
    text-align: center;
  }
}

.event_card_list{
  .event_card{
    padding: 0 15px;
    position: static;
  }
  .thumbnail{
    background-color: #FFFFFF;
    padding: 5px 0 0 10px;

    .event-card-user-img{
      float: left;
      height: 30px;
      width: 30px;
    }
  }
}

.category-border{
  border: 1px solid #C73007;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 10px;
}

.event-card-category{
  font-size: 12px;
  padding: 1px 4px;
}

.event-card-title{
  padding: 5px;
  float: left;
}
