.page-content{
  .user-profile.row{
    margin: 0;
  }
  margin: 0 auto;
  padding: 40px 0 20px;
}

.round_img{
  border-radius: 50%;
}

.img-middle{
  height: 40px;
  width: 40px;
}

.img-big{
  height: 230px;
  width: 230px;
}

.user-profile-img{
  border-radius: 6px;
  display: block;
  margin: auto;
}

.user-main-column{
  padding-left: 0;
}

.user-sub-column-text{
  width: 230px;
  margin: 0 auto;
  h3{
    padding-bottom: 0;
  }
}

.user-sub-columm-account-id{
  padding-bottom: 8px;
}

.user-introduce{
  min-height: 300px;

  h3{
    padding: 15px 0 18px;
  }

  li{
  list-style: none;
  padding-bottom: 12px;
  }

  span{
  font-weight: 600;
   padding-right: 20px;
  }

  .self-introduction{
    padding: 4px 0;
  }
}

.profile-ul{
  float: left;
  width: 50%;
}

.event-background{
  background-color: #fff;
  border-radius: 6px;
}

.event-tab-list{
  margin-top: 30px;
  padding: 10px 0 10px 5px;

  list-style: none;
    li{
      display: inline;
      padding: 0 15px;
    }
}

.user-event{
  .event_card_list{
    width: 100%;
  }
}

.devise-page{
  .form-title{
    margin: 3px;
    padding: 0;
    font-weight: 600;
  }

  .field{
    margin-bottom: 10px;
  }

  .field-set {
    margin-bottom: 10px;
  }

  .actions{
    .border-radius{
      background-color: $main--red;
      &:hover{
        background-color: #F73218;
      }
    }
  }
}
.field-remember{

  label{
    font-size: 12px;
    padding-left: 3px;
  }
}

.field-link{
  padding-top: 4px;
  padding-left: 3px;

  a{
    font-size: 12px;
  }
}

.user-edit-form{
  width: 450px;
}

.panel-user-name{
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
}

.user-panel-header{
  position: relative;
}

.user-panel-follow{
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.user-panel-text{
  line-height: 18px;
  padding-right: 15px;
}

.user-created-date{
  font-size: 13px;
  span{
    padding-left: 5px;
  }
}

.page-title{
    color: $main--red;
    text-align: center;
    margin: 10px 0 25px;
}

.empty-text{
  text-align: center;
}

.green-button{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #078717;
  color: #fff;
  &:hover{
    background-color: #007A55;
    color: #FFF;
  }
}

.follow-button-position{
  margin-top: 3px;
}

.user-group{
  margin-top: 8px;
}
