.page-content{
  margin: 0 40px;
  padding: 20px 0;
}

.round_img{
  border-radius: 50%;
}

.img-middle{
  height: 40px;
  width: 40px;
}

.img-big{
  height: 230px;
  width: 230px;
}

.user-img-radius{
  border-radius: 6px;
}
