.page-content{
  margin: 0 auto;
  max-width: 980px;
  padding: 40px 0 20px;
}

.round_img{
  border-radius: 50%;
}

.img-middle{
  height: 40px;
  width: 40px;
}

.img-big{
  height: 230px;
  width: 230px;
}

.user-profile-img{
  border-radius: 6px;
  display: block;
  margin: auto;
}
.user-img-column{
  text-align: center;
}

.user-main-column{
  padding-left: 0;
}

  .user-introduce{
     min-height: 300px;

    h3{
      padding: 15px 0 18px;
    }

    li{
    list-style: none;
    padding-bottom: 12px;
    }

    span{
    font-weight: 600;
     padding-right: 20px;
    }

    .self-introduction{
      padding: 4px 0;
    }
}

.profile-ul{
  float: left;
  width: 50%;
}

.event-background{
  background-color: #fff;
  border-radius: 6px;
}

.event-tab-list{
  margin-top: 30px;
  padding: 10px 0 10px 5px;

  list-style: none;
    li{
      display: inline;
      padding: 0 15px;
    }
}
